@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #889C9B, #486966);
}

main{
    background-color: white;
    width: 800px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 10px 10px 15px #2b3f3db9;
}

p{
    text-align: justify;
    color: #3B3936;
}

h1{
    color: #BD2A2E;
    text-align: center;
    text-shadow: 2px 2px 2px #801c1f80;
}

h2{
    color: #3B3936;
}
